/* vanAi.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.vanAi-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.vanAi-text {
    text-align: center;
    margin-top: 20px;
    color: #79e9ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.vanAi-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: margin-left 0.3s ease-in-out;
}

.vanAi-container.sidebar-open {
    margin-left: 5px;

}

.vanAi-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    
}

.conversation-container {
    
    text-rendering: optimizeSpeed;
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
   padding: 5%;
    background-color: #E0E0DE;
    border-radius: 5px;
    margin: fit-content;
    align-items: center;
    
}



.nextSuggestions-container {
    text-align: center;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.nextSuggestionsText {
    color: #feedfd;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-field {
    flex-grow: 1;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
}
    

.input-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #7f9446;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.file-input-label {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    text-align: center;
}
.input-group input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #612d45;
    border-radius: 4px;
    margin-right: 10px;
    color: #000000;
    background-color: beige;
}

.input-group button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #383C1A;
    color: beige;
    border-radius: 4px;
    cursor: pointer;
}


.submit-button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.submit-button:hover {
    background-color: #879dd3;
}

.user-message {
    font-weight: bold;
    background-color: #e0f7fa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    justify-content:center;
    
}

.bot-message, .assistant-message {
    background-color: #f1f8e9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.loading-message {
    color: orange;
    background-color: #fff3e0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.user-image {
    margin: 5px 0;
    border-radius: 5px;
    width: 50%;
}

/* New styles for the sidebar */
.conversation-sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color:#e7eee8d5;
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.conversation-sidebar.show {
    left: 0;
}

/*.toggle-sidebar {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: #383C1A;
    color: beige;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}*/

.conversation-list {
    list-style-type: none;
    padding: 0;
}

.conversation-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.conversation-item:hover {
    background-color:#879dd3;
}

.conversation-item h4 {
    margin-bottom: 10px;
    color: #333;
    
}

.message-list {
    list-style-type: none;
    padding-left: 10px;
}

.message-item {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: row;
    }
    
    .vanAi-container.sidebar-open {
        margin-left: 0;
    }
    
    .conversation-sidebar {
        width: 100%;
        left: -100%;
    }
    
    .conversation-sidebar.show {
        left: 0;
    }
    .message-container {
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .bot-message, .assistant-message {
        padding: 10px;
        margin: 5px 0;
        width: 100%;
        box-sizing: border-box;
    }
    .user-message {
        font-weight: bold;
        background-color: #e0f7fa;
        padding: 10px;
        margin: 5px 0;
        border-radius: 5px;
        justify-content:center;
        
    }
    
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .vanAi-container {
        overflow-x: hidden; /* Prevent horizontal scrolling */
        
    }

    .conversation-sidebar {
        z-index: 100; /* Ensure sidebar is on top */
        transform: translateX(-100%); /* Initially hidden */
        transition: transform 0.3s ease-in-out;
        width: 80%; /* Full width for mobile */
    }

    .conversation-sidebar.show {
        transform: translateX(0); /* Show sidebar */
    }

    .vanAi-content {
        position: relative;
        z-index: -1; /* Make sure content is below sidebar */
        transition: margin-left 0.3s ease-in-out;
    }

  

    /* Sidebar toggle button on mobile */
    .toggle-sidebar {
        z-index: 110; /* Above the sidebar */
    }
}

/* Desktop view adjustments */
@media (min-width: 769px) {
    .conversation-sidebar {
        width: 300px; /* Sidebar width for desktop */
        left: -300px; /* Initially hidden on the left */
    }

    .conversation-sidebar.show {
        left: 0; /* Move into view when open */
    }

    .vanAi-container.sidebar-open .vanAi-content {
        margin-left: 300px; /* Adjust content position when sidebar is open */
    }
    
  
    

}
.new-chat{
    background-color: #7f9446;
    color: beige;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    
}
.new-chat:hover{
    background-color: #879dd3;
}
.sidebar-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    background-color: #eabd76;
}
.new-chat-button{
    text-align: center;

}

.close-sidebar{
    background-color: #7f9446;
    color: #dbdbd3;
    border: none;
    
    border-radius: 2px;
    cursor: pointer;

    text-align: center;
}
.close-sidebar:hover{
    background-color: #879dd3;
}
