.note-bar-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.note-bar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

.note-bar-item:hover {
  background-color: #f9f9f9;
}

.note-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-bar-delete {
  margin-left: auto;
  border-radius: 5px;
  color: tomato;
}